.btn {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  min-width: 145px;
  height: 40px;
  border: 1px solid #ffffff;
  background: transparent;
  box-shadow: none;
  transition: all 0.2s linear;
}

.btn:hover {
  color: #fff;
  background: #000000;
}
