.main-slider{
    margin-top: 175px;
}

.main-slider-item{
    height: 750px;
    max-height: 100vh;
    text-align: center;
    display: flex;
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
}

.main-slider-item__content{
    margin: auto auto;
}

.main-slider-item__title{
    font-size: 45px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main-slider-item__text{
    font-size: 22px;
    margin-bottom: 50px;
}

.main-slider-prev, .main-slider-next{
    width: 68px;
    height: 68px;
    cursor: pointer;
    display: block;
    border: 1px solid #fff;
    transition: all 0.2s linear;
    background-color: rgba(53, 53, 53,0.45);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    box-shadow: none;
}
.main-slider-prev:hover, .main-slider-next:hover{
    background-color: #353535;
}

.main-slider-prev{
    left: 40px;
    background-image: url('./../../../assets/images/left_arrtow.png');
}

.main-slider-next{
    right: 40px;
    background-image: url('./../../../assets/images/right_arrtow.png');
}

@media (max-width: 1023px){
    .main-slider{
        margin-top: 60px;
    }
}

@media (max-width: 768px){
    .main-slider-item{
        height: 50vh;
    }

    .main-slider-item__title{
        font-size: 30px;
    }
    
    .main-slider-item__text{
        font-size:18px;
    }

    .main-slider-prev, .main-slider-next{
        width: 40px;
        height: 40px;
        top: 90%;
        
    }

    .main-slider-prev{
        left: 5px;
    }
    
    .main-slider-next{
        right: 5px;
    }
}