.callback > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.callback__text {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .callback > .container {
    display: block;
    text-align: center;
  }

  .callback__text {
    margin-bottom: 30px;
  }
}
