.contact-form .col-12{
    margin-bottom: 10px;
}

.contact-form__input-wrapper{
    margin-bottom: 10px;
}

.contact-form__input-wrapper:last-child{
    margin-bottom: 0;
}

.contact-form input{
    border: 4px solid #26A1E4;
    padding: 0 8px;
    height: 48px;
    width: 100%;
    font-family: 'MyriadPro-Cond';
    font-size: 20px;
}

::-webkit-input-placeholder {color:#26234f;font-family: 'MyriadPro-Cond';font-size: 20px}
::-moz-placeholder          {color:#26234f;font-family: 'MyriadPro-Cond';font-size: 20px}
:-moz-placeholder           {color:#26234f;font-family: 'MyriadPro-Cond';font-size: 20px}
:-ms-input-placeholder      {color:#26234f;font-family: 'MyriadPro-Cond';font-size: 20px}

.contact-form textarea{
    border: 4px solid #26A1E4;
    padding: 8px 8px;
    width: 100%;
    height: 100%;
    font-family: 'MyriadPro-Cond';
    font-size: 20px;
}

.contact-form__btn{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 50px;
    background: #26A1E4;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.contact-form__btn:hover{
    color: #fff;
    background: #FF5384;
}