.header{
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.2s linear;
}

.header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 175px;
    transition: all 0.2s linear;
}

.logo{
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
}

.logo > img{
    flex: none;
    margin-right: 20px;
    width: 96px;
    transition: all 0.2s linear;
}

.logo__text{
    font-size: 50px;
    color: #00bdec;
}

.logo__text > span{
    color: #ff5384;
}

.header.min > .container{
    height: 80px;
}

.header.min .logo > img{
    width: 60px;
}

@media (max-width: 1023px){

    .header > .container{
        height: 60px;
    }

    .logo > img{
        width: 50px;
    }
    
    .logo__text{
        font-size: 24px;
    }

    .header.min > .container{
        height: 60px;
    }
    
    .header.min .logo > img{
        width: 50px;
    }
}