.footer {
  background: #161616;
  padding: 50px 0 0 0;
  color: #fff;
  font-size: 14px;
}

.footer .col-12 {
  margin-bottom: 50px;
}

.footer a {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.footer a:hover {
  color: #22a7f0;
}

.footer__title {
  color: #26a1e4;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
}

.footer__about-text {
  width: 260px;
  max-width: 100%;
}

.footer .copyright {
  background: #000;
  text-align: center;
  padding: 30px;
}

.text-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.text-icon__img {
  width: 17px;
  height: 18px;
  object-fit: contain;
  margin-right: 5px;
}
