@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');
/* font-family: 'Roboto', sans-serif; */
@import "./assets/fonts/MyriadPro-Regular/styles.css";
/* font-family: 'MyriadPro-Regular'; */
@import "./assets/fonts/MyriadPro-Cond/styles.css";
/* font-family: 'MyriadPro-Cond'; */

/* bootstrap reboot */
@import "./assets/css/bootstrap/bootstrap-reboot.min.css";
/* bootstrap grid */
@import "./assets/css/bootstrap/bootstrap-grid.min.css";

body {
  margin: 0;
  padding: 0;
  color: #353535;
  font-size: 16px;
  overflow-x: hidden;
}

.app{
  font-family: 'MyriadPro-Regular';
}

body a{
  text-decoration: none;
}

body a:hover{
  text-decoration: none;
}

.section{
  padding: 50px 0;
}

.section.blue{
  background: #26A1E4;
}

.section.gray{
  background: #F8F8F8;
}

.section__title{
  font-size: 35px;
  text-transform: uppercase;
  color: #22A7F0;
  margin-bottom: 45px;
  position: relative;
}

.section__title:after{
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 2px;
  background: #FF5384;
  bottom: -15px;
  left: 0;
}